* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* DESKTOP */
body {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.wrap {
    flex: 90% 0 0;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 5px;
}

.head {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.org {
    font-size: 30px;
    flex: 80% 0 0;
}

.buttons {
    flex: 20% 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.button {
    padding: 5px 10px;

}

.middle {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 70px;
}

.heading {
    font-size: 20px;
}

.paragraph {
    margin-top: 30px;
}

.form {
    margin: 70px 2.5% 0 2.5%;
    display: flex;
    flex-flow: row wrap;

}

.form-section {
    flex: 40% 0 0;
    margin-left: 0;
    margin-right: 10%;
    margin-top: 30px;
}

.form-section:last-child {
    margin-bottom: 30px;
}

.label {
    display: block;
    width: 100%;
    text-align: left;
    color: rgb(158, 151, 151);
}

.input {
    display: block;
    width: 100%;
    height: 40px;
    border: 0.1px solid rgb(58, 58, 58);
    border-radius: 4px;
}

.submit:hover {
    background-color: rgb(83, 83, 83);
    color: white;
}

#serverResponse {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}


.notification-success {
    color: white;
    background-color: rgb(84, 250, 84);
    padding: 7px;
    font-size: 13px;
    display: inline-block;
    margin-bottom: 20px;
}

.notification-failure {
    color: white;
    background-color: rgb(245, 61, 61);
    padding: 7px;
    font-size: 13px;
    display: inline-block;
    margin-bottom: 20px;   
}

.notification-internalError {
    color: white;
    background-color: red;
    padding: 7px;
    font-size: 13px;
    display: inline-block;
    margin-bottom: 20px;   
}


/* TABLET */
@media (min-width: 651px) and (max-width: 980px) {
    .profile {
        flex: 45% 0 0;
        margin-right: 5%;
        margin-left: 0;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-bottom: 70px;
        cursor: pointer;
    }

    .form {
        width: 80%;
        margin-left: 2.5%;
        margin-top: 70px;
    
    }
}

/* MOBILE */
@media (min-width: 0px) and (max-width: 650px) {
    .org {
        font-size: 18px;
        flex: 50% 0 0;
    }
    
    .buttons {
        flex: 50% 0 0;
        display: flex;
        flex-flow: row wrap;
    }
    #login, #signup {
        padding: 1.5px 3px;
        flex: 45% 0 0;
        margin-left: 0;
        margin-right: 5%;
    
    }
    .button {
        padding: 1.5px 1px;
        font-size: 10px;
    
    }

    .heading {
        font-size: 15px;
    }
    
    .paragraph {
        margin-top: 30px;
        font-size: 12px;
    }
    .community {
        width: 97.5%;
        margin-left: 2.5%;
        margin-right: 0;
        margin-top: 80px;
        display: flex;
        flex-flow: row wrap;
    
    }
    .profile {
        flex: 100% 0 0;
        margin-left: 0;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-bottom: 70px;
        cursor: pointer;
    }
    .image-wrap {
        flex: 55% 0 0;
        margin-right: 5%;
        height: 150px;
    }
    
    .img {
        width: 100%;
        height: 100%;
    }
    
    .details {
        flex: 35% 0 0;
        margin-right: 5%;
    }

    .form {
        width: 90%;
        margin-left: 2.5%;
        margin-top: 70px;
    
    }
    .form-section {
        flex: 90% 0 0;
        margin-left: 0;
        margin-right: 10%;
        margin-top: 30px;
    }
}

